<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>PokeDex Unicesumar</h1>
    <div class="container">
        <ul class="pokemon-list">
            <% results.forEach(pokemon => { %>
                <li class="pokemon-item">
                    <p><%= pokemon.name %></p>
                    <a href="/pokemon/<%= pokemon.name %>">
                        <button>Ver Pokémon</button>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>
